* {
  font-family: Inconsolata LGC Nerd Font;
  font-weight: 400;
  font-size: 12px;
  color: #dfdfdf;
  min-width: 20px;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

box.modules-left,
box.modules-right {
  margin: 5px 10px;
}

box.modules-center {
  padding: 0;
  margin: 0;
  min-width: 0;
}

window > box > box > widget > label,
window > box > box > widget > box {
  padding: 4px 6px;
  background-color: #303030;
  border-radius: 8px;
}

button {
  transition: 200ms linear;
  transition-property: box-shadow, background-color, border-color;
}

button:hover {
  box-shadow: none;
  background-color: #303030;
}

#battery.warning {
  background-color: #a58a00;
}

#custom-updates {
  color: #1793d1;
  transition: 200ms linear;
  transition-property: color;
}

#custom-updates {
  color: inherit;
  font-size: inherit;
  transition: 200ms linear;
  transition-property: color;
}

#custom-updates.updated {
  color: #1793d1;
  font-size: 16px;
  padding: 0 6px 0 4px;
}


